<% provide :title, "Home" %>


<div class="container">
    <div id="main" style="text-align: center;" class="">
      <div class="jumbotron">   
      <h1>Header</h1>
        <p>This font is awesome. If you click <a href="#">this</a> then you will be teleported into a black hole. Use at your own risk.</p>
      <button class="btn btn-primary btn-lg">Get started »</button>
       </div>
      <p>The breadcrumbs look a bit shoddy but that's life. Anyway, add some text here to convince the user to sign up. Or not.</p>
    </div>
